[Unit]
Description=Concertim Metric Processing Daemon - Parses ganglia metrics and caches views of them in memcache

[Service]
Type=exec
ExecStart={{ct_installation_dir}}/ct-metric-processing-daemon/ct-metric-processing-daemon
TimeoutSec=10sec
StandardOutput=append:/var/log/ct-metric-processing-daemon.log
StandardError=append:/var/log/ct-metric-processing-daemon.log

[Install]
WantedBy=multi-user.target
