[Unit]
Description=Phoenix mongrel %i
PartOf=phoenix-mongrel.service
ReloadPropagatedFrom=phoenix-mongrel.service
Before=phoenix-mongrel.service
; stop server before networking goes down on shutdown
After=network.target

[Service]
Environment=PATH=/opt/ruby-1.8/bin:/sbin:/bin:/usr/sbin:/usr/bin
Type=forking
PIDFile={{ mongrel_pid_dir }}/%i.pid

; Ideally, we'd replace the following ExecStartPre lines with
; RuntimeDirectory, User and Group lines.  However, previously, the
; mongrel_rails command expected to be called as root and su as defined in its
; configuration.  The init.d script also created the directory as
; {{mongrel_user}}:root, not {{mongrel_user}}:{{mongrel_user}}.  I'm not currently certain what the
; effect of changing those would be, so I'm going to leave it as is for now.
;
; RuntimeDirectory=mongrel_cluster
; User={{mongrel_user}}
; Group={{mongrel_user}}
;
ExecStartPre=mkdir -p {{ mongrel_pid_dir }}
ExecStartPre=chown {{mongrel_user}}:root {{ mongrel_pid_dir }}
ExecStartPre=chmod 755 {{ mongrel_pid_dir }}

ExecStart=/bin/bash -c 'v=%i; exec /usr/sbin/mongrel_rails cluster::start -C {{ mongrel_conf_dir }}/$${v%.*}.yml --clean'
ExecStop=/bin/bash  -c 'v=%i; exec /usr/sbin/mongrel_rails cluster::stop  -C {{ mongrel_conf_dir }}/$${v%.*}.yml'
TimeoutSec=1min
SyslogIdentifier=phoenix-mongrel@%i

[Install]
WantedBy=multi-user.target
