# phoenix-mongrel.service is the meta unit for managing all mongrel instances on
# the system at once. Conceptually, this unit is more like a systemd target,
# but we are using a service since targets cannot be reloaded.
#
# The unit actually managing mongrel instances is phoenix-mongrel@.service,
# instantiated as phoenix-mongrel@NAME-PORT.service for individual instances, e.g.,
# phoenix-mongrel@hacor-3002.service, etc..

[Unit]
Description=Phoenix mongrel cluster

[Service]
Type=oneshot
ExecStart=/bin/true
ExecReload=/bin/true
RemainAfterExit=on

[Install]
WantedBy=multi-user.target
