[Unit]
Description=CT Visualisation Job Runner - daemon to process jobs created by ct-visualisation-app.

[Service]
Type=exec
Environment="GOOD_JOB_WORKER=true"
Environment="RAILS_ENV=production"
WorkingDirectory={{ct_vis_app_path}}
ExecStart={{ct_vis_app_path}}/bin/bundle exec good_job start
TimeoutSec=10sec
StandardOutput=append:{{ct_vis_app_log_file}}
StandardError=append:{{ct_vis_app_log_file}}
User={{app_user}}
Group={{app_user}}

[Install]
WantedBy=multi-user.target
