/MIA-6-4-0-DEV.tgz
/MIA-6-4-0-DEV.vmdk
/tmp
.vagrant
/contrib/dev/ansible/roles/*/files/tmp/*
/contrib/dev/ansible/secrets.enc
/notes/*
docker/secrets/aws-credentials.yml
docker/secrets/aws-credentials.yml.enc
docker/secrets/vault-password.txt
