[Unit]
Description=EMMA %i - the enhanced monitoring and management architecture
PartOf=emma.service
ReloadPropagatedFrom=emma.service
Before=emma.service
# stop server before networking goes down on shutdown
After=network.target

[Service]
Environment=PATH={{ruby_19_bin_dir}}:/sbin:/bin:/usr/sbin:/usr/bin
Type=forking
PIDFile=/data/private/share/emma/core/tmp/emma.%i.pid
ExecStart={{ruby_19_bin_dir}}/thin start --only %i -C /data/private/share/emma/core/config/thin.yml
ExecStop={{ruby_19_bin_dir}}/thin  stop  --only %i -C /data/private/share/emma/core/config/thin.yml
TimeoutSec=1min
SyslogIdentifier=emma@%i

[Install]
WantedBy=multi-user.target
