[Unit]
Description=EMMA %i - the enhanced monitoring and management architecture
PartOf=emma.service
ReloadPropagatedFrom=emma.service
Before=emma.service
# stop server before networking goes down on shutdown
After=network.target

[Service]
Environment=PATH=/opt/ruby-1.9/bin:/sbin:/bin:/usr/sbin:/usr/bin
Type=forking
PIDFile=/data/private/share/emma/core/tmp/emma.%i.pid
ExecStart=/opt/ruby-1.9/bin/thin start --only %i -C /data/private/share/emma/core/config/thin.yml
ExecStop=/opt/ruby-1.9/bin/thin  stop  --only %i -C /data/private/share/emma/core/config/thin.yml
TimeoutSec=5min
SyslogIdentifier=emma@%i

[Install]
WantedBy=multi-user.target
