[Unit]
Description=CT Visualisation App - Web app providing visualisation of metrics

[Service]
Type=exec
ExecStart={{ct_vis_app_path}}/bin/rails server -p 7000 -b 0.0.0.0 -e production
TimeoutSec=10sec
StandardOutput=append:{{ct_vis_app_log_file}}
StandardError=append:{{ct_vis_app_log_file}}
User={{app_user}}
Group={{app_user}}

[Install]
WantedBy=multi-user.target
