[Unit]
Description=Metric Reporting Daemon - Provides HTTP API to allow injecting custom metrics into the metric stream.

[Service]
Type=exec
ExecStart=/data/private/share/daemons/metric-reporting-daemon/metric-reporting-daemon
TimeoutSec=10sec
StandardOutput=append:/var/log/metric-reporting-daemon.log
StandardError=append:/var/log/metric-reporting-daemon.log

[Install]
WantedBy=multi-user.target
